{% extends 'layout.html' %} 
{% block body %}

<div class="webfeed-container">
  <h1 class="webfeed-heading">Welcome To News App</h1>
  <p class="lead webfeed-lead">
    This application is built on the Python Flask framework.
  </p>

  {% if session.logged_in is none %}
    <a href="/register" class="btn btn-primary btn-lg webfeed-btn">Register</a>
    <a href="/login" class="btn btn-success btn-lg webfeed-btn">Login</a>
  {% else %}
    <a href="/articles" class="btn btn-warning btn-lg webfeed-btn">Articles</a>
  {% endif %}
</div>

{% endblock %}
